<!doctype html>
<html>
<head>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css"
	rel="stylesheet">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

</head>
<body>

	<div class="social-media-logins col-sm-3">
		{{#each providers}}
		<iframe src="/providers/{{name}}/signin-panel?uri=/providers/{{name}}&redirect_uri=/verified&state={{state}}" class="panel"></iframe>
		{{/each}}
	</div>
</body>
</html>